{% extends 'attendence_sys/main.html' %}

{% block content %}
<div class="container">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card card-body">
                <center><h3>Take Entry</h3></center>
                <form class="form-horizontal" action="{% url 'manualAttendence' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Employee Id:</label>
                        <input name="employee_id" id="employee_id" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="control-label">RFID:</label>
                        <input name="rfid" id="rfid" type="text" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-block btn-info">Take Entry</button>
                </form>
                <center>
                    <h5>OR</h3>
                </center>
                <form class="form-horizontal" action="{% url 'attendence' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-block btn-info">Take Photo Entry</button>
                </form>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card card-body">
                <center><h3>Add Employee</h3></center>
                <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">First Name:</label>
                                {{ employeeForm.firstname }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Last Name:</label>
                                {{ employeeForm.lastname }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Employee ID:</label>
                                {{ employeeForm.employee_id }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"> RFID:</label>
                                {{ employeeForm.rfid }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel1">Company Name:</label>
                                {{ employeeForm.company_name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel1">Entry By:</label>
                                {{ employeeForm.entry_by }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel1">Temperature:</label>
                                {{ employeeForm.temperature }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sel1">SPO2:</label>
                                {{ employeeForm.spo2 }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group" style="border: none;">
                                <label class="control-label">Upload Profile Picture:</label>
                                {{ employeeForm.profile_pic }}
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <button type="submit" class="btn btn-block btn-info">Submit</button>    
                </form>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6" style="margin-top: 20px;"></div>
        
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card card-body">
                <center><h3>Update Employee Details</h3></center>
                <form class="form-horizontal" action="{% url 'updateStudentRedirect' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Enter Employee ID:</label>
                        <input name="employee_id" type="text" class="form-control" placeholder="Ex: 18341A1234">
                    </div>
                    <button type="submit" class="btn btn-block btn-info">Submit</button>
                </form>
            </div>
        </div>
        <!-- <div class="col-md-6" style="margin-top: 20px;;">
            <div class="card card-body">
                <center><h3>Search History</h3></center>
                    <a href="{% url 'searchattendence' %}" class="btn btn-block btn-info">Click Here</a>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}